.row {
    margin: 0;
}

.container {
    padding: 20px 0;
}

.container .col a {
    text-decoration: none;
}

#brand-name {
    color: whitesmoke;

}

#brand-img {
    margin-left: 10px;
    margin-right: 10px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#title {
    margin-top: 80px;
}

